<nav ng-class="getNavStyle(scroll)">
  <button ng-click="zoomIn()">+</span></button>
  <button ng-click="fit()">100%</span></button>
  <button ng-click="zoomOut()">-</span></button>

  <button ng-click="rotate()">90</span></button>

  <span>Page: </span>
  <input type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span>

  &nbsp;&nbsp;
  <span>Document URL: </span>
  <input type="text" ng-model="pdfUrl">
  <button ng-click="cleanReload()">Reload</button>
</nav>

<hr>

{{loading}}
<div id="pdf-container">
  <canvas ng-repeat="id in pageIDs" ng-attr-id="{{id}}" ng-class="canvasClass" style="border: 1px black solid; padding: 5px;"></canvas>
</div>
